@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-lato);
    scroll-padding-top: 6rem;
    scroll-behavior: smooth; 
  }
}